body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    width: 400px;
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
      }
